@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


.wrpl-page{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

table.list-sap th{
    font-size: 14px !important;
}
table.list-sap td{
    padding: .2rem;
    vertical-align: middle;
}

/*td.details-control {
    background: url('../../img/open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../img/close.png') no-repeat center center;
}*/

table tr.wrpl-variation-row{
    background: #F5F5DC !important;
}

/*tr.no-variations td.details-control{
    background: none ;
    cursor: auto;
}*/

input:required:invalid, input:focus:invalid {
    background-image: url(../../img/invalid.png);
    background-size: 12px;
    background-position: right center;
    background-repeat: no-repeat;
    width: 10px;
    color: red;
}
input:required:valid {
    background-image: url(../../img/valid.png);
    background-size: 12px;
    background-position: right center;
    background-repeat: no-repeat;
    width: 10px;
}

/*Deactive spinner input number text*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

/* block screen */
#modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top : -500px;
    left: -500px;
    background: black;
    opacity: .6;
    filter: alpha(opacity=60);
    width: 3000px;
    height: 4000px;
    color:red !important;
}
/*preload efect*/
.wrpl_loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    position: fixed;
    top: 50%;
    left:50%;
    height: 120px;
    z-index: 1002;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*tabs style*/

#wrpl_tabs .tab-content {
    background-color: #f2f2f2;
    padding : 5px 15px;
    -webkit-box-shadow: 8px -1px 9px -7px rgba(0,0,0,0.48);
    box-shadow: 8px -1px 9px -7px rgba(0,0,0,0.48);
}

#wrpl_tabs ul li{
    margin-right: 7px;
    font-size: 15px;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
#wrpl_tabs ul li a{
    text-decoration: none;
    padding: 18px;
    margin-right: 8px;
    margin-bottom: 10px;
}
#wrpl_tabs ul li  a.active{
    background:#f2f2f2 ;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 8px -1px 9px -7px rgba(0,0,0,0.48);
    box-shadow: 8px -1px 9px -7px rgba(0,0,0,0.48);
}


#wrpl_tabs *{
    outline: none !important;
}
ul.nav-pills{
    margin-bottom: 17px;
}

/* remove border radius for the tab */

#wrpl_tabs .nav-pills > li > a {

}
.tab-pane{
    padding-top: 10px;
}

ul.list-group li{
    font-size: 12px !important;
}

/* BUTTONS ICON */
.wrpl-trash:before {
    content: "\f182";
    -webkit-font-smoothing: antialiased;
    font: normal 15px/1 'dashicons';
    color: #fff;
    vertical-align: middle;
}
.wrpl-edit:before {
    content: "\f464";
    -webkit-font-smoothing: antialiased;
    font: normal 15px/1 'dashicons';
    color: #fff;
    vertical-align: middle;
}

