@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


.wrpl-page{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

table.list-sap th{
    font-size: 14px !important;
}
table.list-sap td{
    padding: .2rem;
    vertical-align: middle;
}

/*td.details-control {
    background: url('../../img/open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../img/close.png') no-repeat center center;
}*/

table tr.wrpl-variation-row{
    background: #F5F5DC !important;
}

/*tr.no-variations td.details-control{
    background: none ;
    cursor: auto;
}*/